<footer class="foot">
  <div class="wrap foot__inner">
    <div>
      <div class="foot__brand">AVL Noticias</div>
      <p class="foot__legal">
        Información de fútbol y mercado de fichajes.<br />
        © 2026 AVL Noticias. Todos los derechos reservados.
      </p>
    </div>
    <div class="foot__cols">
      <div class="foot__col">
        <h4>Secciones</h4>
        <a routerLink="/home">Portada</a>
        <a href="#">Mercado</a>
        <a href="#">LaLiga</a>
        <a href="#">Champions</a>
      </div>
      <div class="foot__col">
        <h4>AVL</h4>
        <a href="#">Quiénes somos</a>
        <a href="#">Redacción</a>
        <a href="#">Publicidad</a>
        <a href="#">Contacto</a>
      </div>
      <div class="foot__col">
        <h4>Legal</h4>
        <a routerLink="/aviso-legal">Aviso legal</a>
        <a routerLink="/privacidad">Privacidad</a>
        <a routerLink="/privacidad">Cookies</a>
      </div>
    </div>
  </div>
</footer>
